doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        title Socket Game Demo
        script(src='/socket.io.js')
        script(src='/jquery-3.1.1.min.js')
        block style
    body
        block content

        p copyright &copy; 2016 GeekPark

        block script
