extends _layout

block style
    style.
        body {
            text-align: center;
        }

block content
    h1 Welcome
    p
        a(href="/screen") Screen
    p
        a(href="/player") Player

block script
