extends _layout

block style
    link(href='/home.css',rel='stylesheet')

block content
    h1 Welcome
    p
        a(href='/screen',target='_blank') Screen
    p
        a(href='/player',target='_blank') Player

block script
