extends _layout

block style
    link(href='/player.css',rel='stylesheet')

block content
    h1 GeekPark Hackthon Demo
    input#switch(value='Toggle',type='button')

block script
    script(src='/player.js')
