extends _layout

block style
    link(href='/screen.css',rel='stylesheet')

block content
    h1 GeekPark Hackthon Demo
    ul#playground
    #info
    img(src='/player.png',width=128)

block script
    script(src='/screen.js')
