body {
    text-align: center;
    font-family: monospace;
}
ul, li {
    list-style: none;
}
#playground {
    margin: 30px auto;
    padding: 0;
}
#info, #msg {
    clear: both;
    padding: 20px 0;
    font-size: 20px;
}
.box {
    background-color: #eee;
    border: 3px solid;
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;
}
.base_on {
    border-color: black;
}
.base_off {
    border-color: red;
}
.on {
    background-color: #333;
}
.off {
    background-color: #c33;
}
